:root{
    --yellow: #fdee00
}


.hello{
    font-size: 75px;  
}

h2{
    font-size: 50px;
}
   
.welcome{
    font-size: 40px;
    margin-right: 140px;
}

.Nothing{
    background-color: var(--yellow)
}

.yellow{
    display: flex;
}

@media only screen and (max-width: 600px) {
    .yellow{
        flex-direction: column;
    }
}